// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: $body-background !important;
}

.wrapper.header {
  background: $body-background;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #f3f3f3;
}


// Doc styles

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-success {
  background-color: $success-color;
}

.bg-warning {
  background-color: $warning-color;
}

.bg-alert {
  background-color: $alert-color;
}

.bg-light {
  background-color: $light-gray;
}

.bg-medium {
  background-color: $medium-gray;
}

.bg-dark {
  background-color: $dark-gray;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-pre {
  background-color: $pre-color;
}
