<row>
  <columns large="5" style="padding-bottom: 20px; padding-right: 20px !important;">
    {{# ifeq lang "fi" }}
    <img
      src="{{harborImage}}"
      alt="Sataman kuva"
    />
    {{/ ifeq }}
    {{# ifeq lang "sv" }}
    <img
      src="{{harborImage}}"
      alt="Hamnbild"
    />
    {{/ ifeq }}
    {{# ifeq lang "en" }}
    <img
      src="{{harborImage}}"
      alt="Harbor image"
    />
    {{/ ifeq }}
  </columns>

  <columns large="7" style="padding-bottom: 20px">
    <h3 style="margin-top: 4px !important;" class="mb-0">{{harborName}}</h3>
    <p style="margin-bottom: 16px;" class="text-body">
      {{harborAddress}}
    </p>
    <p style="margin-bottom: 12px;" class="text-sm">
      <a href="{{harborWebAddress}}">
        {{# ifeq lang "fi" }}Toimipisteen nettisivut{{/ ifeq }}
        {{# ifeq lang "sv" }}Webbplats{{/ ifeq }}
        {{# ifeq lang "en" }}Website{{/ ifeq }}
      </a>
    </p>
    <p class="text-sm">
      <a href="{{harborMap}}">
        {{# ifeq lang "fi" }}Satamakartta (PDF){{/ ifeq }}
        {{# ifeq lang "sv" }}Hamnkartan (PDF){{/ ifeq }}
        {{# ifeq lang "en" }}Harbor map (PDF){{/ ifeq }}
      </a></p>
  </columns>
</row>