<table style="border: 2px solid gray;">
  <tr>
    <td>
      <table style="width: 400px; margin: 40px auto;">
        <tr>
          <td class="text-body">Perushinta (3,5 m):</td>
          <td class="text-body text-right">{{ basePrice }}</td>
        </tr>
        <tr>
          <td class="text-body" colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td class="text-body">Talvisäilytyspaikka yhteensä:</td>
          <td class="text-body text-right">{{ winterStorageTotal }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <hr class="rule-thin"/>
          </td>
        </tr>
        {{# if parkingPermit }}
          <tr>
            <td class="text-body">Pysäköintilupa:</td>
            <td class="text-body text-right">{{ parkingPermit }}</td>
          </tr>
          <tr>
            <td colspan="3">
              <hr class="rule-thin"/>
            </td>
          </tr>
        {{/ if }}
        <tr>
          <td class="text-body">YHTEENSÄ:</td>
          <td class="text-body text-right">{{ total }} / vuosi</td>
        </tr>
        <tr>
          <td colspan="2">
            <p class="text-sm mb-0" style="margin-top: 16px;">
              <a href="">Liikuntapalvelujen hinnasto</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
