<row>
  <columns>
    <p>
      Helsingin kaupungin venepaikat vuokrataan asiakkaille toistaiseksi
      voimassa olevina ja niistä peritään vuosittain kulloinkin voimassa
      olevan hinnaston mukainen maksu. Jos laskua ei maksa eräpäivään
      mennessä, vuokrasopimus irtisanoutuu automaattisesti. Veneilykausi on
      10.6.-14.9., jona aikana venepaikalla saa pitää venettä.
    </p>
    <p>
      Venepaikan vastaanottaminen edellyttää voimassa olevien venepaikan
      vuokrasopimusehtojen sekä venesatamasääntöjen hyväksymistä.
    </p>
  </columns>
</row>

<table style="width: 100%; margin-bottom: 72px; table-layout: fixed;">
  <tr>
    <td style="text-align: center;">
      <a class="text-body" href="https://venepaikat.hel.fi" style="text-align: center;"
      >
        {{# ifeq lang "fi" }}Helsingin kaupungin veneilypalvelut{{/ ifeq }}
        {{# ifeq lang "sv" }}Helsingfors stadens båtservicen{{/ ifeq }}
        {{# ifeq lang "en" }}City of Helsinki boating services{{/ ifeq }}
        &rarr;
      </a>
    </td>
  </tr>
</table>