<table style="border: 2px solid gray;">
  <tr>
    <td>
      <table style="width: 400px; margin: 40px auto;">
        <tr>
          <td class="text-body" colspan="2">
            {{# ifeq lang "fi" }}Perushinta{{/ ifeq }}
            {{# ifeq lang "sv" }}Grundavgift{{/ ifeq }}
            {{# ifeq lang "en" }}Basic price{{/ ifeq }}
            ({{ field 'order.product.price_group.name' }}m):
          </td>
          <td class="text-body text-right">{{ field 'order.price' }}&euro;</td>
        </tr>
        {{!-- raw --}}
        {% for order_line in fixed_services %}
        <tr>
          <td class="text-body" colspan="2">{{ field 'order_line.product.get_service_display()' }}:</td>
          <td class="text-body text-right">{{ field 'order_line.price' }}&euro;</td>
        </tr>
        {% endfor %}
        {{!-- /raw --}}
        <tr>
          <td colspan="3">
            <hr class="rule-thin"/>
          </td>
        </tr>
        <tr>
          <td class="text-body" colspan="2">
            {{# ifeq lang "fi" }}Venepaikka yhteensä:{{/ ifeq }}
            {{# ifeq lang "sv" }}Båtplatsen totalt:{{/ ifeq }}
            {{# ifeq lang "en" }}Berth in total:{{/ ifeq }}
          </td>
          <td class="text-body text-right">{{ field 'order.fixed_price_total' }}&euro;</td>
        </tr>
        {% if optional_services %}
        <tr>
          <td class="text-body" colspan="3">
            {{# ifeq lang "fi" }}Lisäpalvelut:{{/ ifeq }}
            {{# ifeq lang "sv" }}Tilläggstjänster:{{/ ifeq }}
            {{# ifeq lang "en" }}Additional services:{{/ ifeq }}
          </td>
        </tr>
        {% endif %}
        {{!-- raw --}}
        {% for order_line in optional_services %}
        <tr>
          <td class="text-body" colspan="2">{{ field 'order_line.product.get_service_display()' }}:</td>
          <td class="text-body text-right">{{ field 'order_line.price' }}&euro;</td>
        </tr>
        {% endfor %}
        {{!-- /raw --}}
        <tr>
          <td colspan="3">
            <hr class="rule-thin"/>
          </td>
        </tr>
        <tr>
          <td class="text-body" colspan="2">
            {{# ifeq lang "fi" }}YHTEENSÄ:{{/ ifeq }}
            {{# ifeq lang "sv" }}TOTALT:{{/ ifeq }}
            {{# ifeq lang "en" }}TOTAL:{{/ ifeq }}
          </td>
          <td class="text-body text-right">{{ field 'order.total_price' }}&euro; /
            {{# ifeq lang "fi" }}vuosi{{/ ifeq }}
            {{# ifeq lang "sv" }}år{{/ ifeq }}
            {{# ifeq lang "en" }}year{{/ ifeq }}
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <p class="text-sm mb-0" style="margin-top: 16px;">
              <a href="">
                {{# ifeq lang "fi" }}Liikuntapalvelujen hinnasto{{/ ifeq }}
                {{# ifeq lang "sv" }}Idrottsservicens prislista{{/ ifeq }}
                {{# ifeq lang "en" }}Price list for sports services{{/ ifeq }}
              </a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
