---
layout: berth-reservations
subject: Winter storage application confirmation
created_at: 12.5.2019 15.15
lang: en
---

<container>
  {{> berth-reservations-header}} {{!-- raw --}}
  <row>
    <columns small="12">
      <h4>Hello, {{ application.first_name }}!</h4>

      <p>Thank you, your application has been sent successfully!</p>

      <p>
        You will be contacted via text message when a suitable winter storage
        space becomes available.
      </p>

      <p>
        If you wish to change or cancel your application or ask any questions
        regarding your application, please e-mail
        <span class="no-hyphens">venepaikkavaraukset@hel.fi</span>.
      </p>

      <callout>
        <spacer size="12"></spacer>
        <b>Time</b>
        {{ created_at }}<br />
        <b>Applicant</b>
        {{ application.first_name }} {{ application.last_name }}<br />
        {{!--{% if application.company_name %}--}}
        <b>Company</b>
        {{ application.company_name }} ({{ application.business_id }})<br />
        {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Chosen areas</h5>
        <table>
          <tbody>
            {{!--{% for choice in area_choices %}--}}
            <tr>
              <td width="32px"><b>{{ choice.priority }}</b></td>
              <td>{{ choice.winter_storage_area.name }}</td>
            </tr>
            {{!--{% endfor %}--}}
          </tbody>
        </table>
        {{!--{% if application.application_code %}--}}
        <p><b>Application code:</b> {{application.application_code}}</p>
        {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Boat information</h5>
        {{!--{% if application.boat_registration_number %}--}}
        <row class="collapse">
          <columns large="4"><b>Registration number</b></columns>
          <columns large="8"
            >{{ application.boat_registration_number }}</columns
          >
        </row>
        {{!--{% endif %}--}} {{!--{% if application.boat_name %}--}}
        <row class="collapse">
          <columns large="2"><b>Name</b></columns>
          <columns large="4">{{ application.boat_name }}</columns>
          <columns large="2"><b>Model</b></columns>
          <columns large="4">{{ application.boat_model }}</columns>
        </row>
        {{!--{% endif %}--}}
        <row class="collapse">
          <columns large="2" small="6"><b>Length</b></columns>
          <columns large="4" small="6">{{ application.boat_length }} m</columns>
          <columns large="2" small="6"><b>Width</b></columns>
          <columns large="4" small="6">{{ application.boat_width }} m</columns>
        </row>
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Storage information</h5>
        {{ application.get_storage_method_display() }} {{!--{% if
        application.trailer_registration_number %}--}}
        <row class="collapse">
          <columns large="4"><b>Trailer's registration</b></columns>
          <columns large="8"
            >{{ application.trailer_registration_number }}</columns
          >
        </row>
        {{!--{% endif %}--}}
      </callout>
      <p>
        Kind regards,<br />
        Helsingin kaupungin venepaikkavaraukset (Berth reservations of the City
        of Helsinki)
      </p>
    </columns>
  </row>
  {{!-- /raw --}} {{> berth-reservations-footer}}
</container>
