---
layout: berth-reservations
subject: Venepaikan hakemuksen vahvistus
created_at: 12.5.2019 15.15
lang: fi
---

<container>
  {{> berth-reservations-header}}
  <row>
    <columns small="12">
      <h4>Hei {{ application.first_name }}!</h4>

      <p>Kiitos, hakemuksesi on vastaanotettu.</p>

      <p>
        Jos haluat muuttaa tai perua hakemuksesi tai tiedustella muuta
        hakemukseesi liittyvää asiaa, lähetä sähköpostia osoitteeseen
        <span class="no-hyphens"><a href="mailto:venepaikkavaraukset@hel.fi">venepaikkavaraukset@hel.fi</a></span>.
      </p>

      <callout>
        <spacer size="12"></spacer>
        <b>Aika</b>
        {{ created_at }}<br />
        <b>Hakija</b>
        {{ application.first_name }} {{ application.last_name }}<br />
        {{!--{% if application.company_name %}--}}
        <b>Yritys</b>
        {{ application.company_name }} ({{ application.business_id }})<br />
        {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Valitut säilytysalueet</h5>
        <table>
          <tbody>
            {{!--{% for choice in area_choices %}--}}
            <tr>
              <td width="32px"><b>{{ choice.priority }}</b></td>
              <td>{{ choice.winter_storage_area.name }}</td>
            </tr>
            {{!--{% endfor %}--}}
          </tbody>
        </table>
        {{!--{% if application.application_code %}--}}
        <p><b>Hakukoodi:</b> {{application.application_code}}</p>
        {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Veneen tiedot</h5>
        {{!--{% if application.boat_registration_number %}--}}
        <row class="collapse">
          <columns large="4"><b>Rekisterinumero</b></columns>
          <columns large="8"
            >{{ application.boat_registration_number }}</columns
          >
        </row>
        {{!--{% endif %}--}} {{!--{% if application.boat_name %}--}}
        <row class="collapse">
          <columns large="2"><b>Nimi</b></columns>
          <columns large="4">{{ application.boat_name }}</columns>
          <columns large="2"><b>Malli</b></columns>
          <columns large="4">{{ application.boat_model }}</columns>
        </row>
        {{!--{% endif %}--}}
        <row class="collapse">
          <columns large="2" small="6"><b>Pituus</b></columns>
          <columns large="4" small="6">{{ application.boat_length }} m</columns>
          <columns large="2" small="6"><b>Leveys</b></columns>
          <columns large="4" small="6">{{ application.boat_width }} m</columns>
        </row>
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Säilytys</h5>
        {{ field 'application.get_storage_method_display()' }}
        {{!--{% if application.trailer_registration_number %}--}}
        <row class="collapse">
          <columns large="4"><b>Trailerin rekisterinumero</b></columns>
          <columns large="8"
            >{{ application.trailer_registration_number }}</columns
          >
        </row>
        {{!--{% endif %}--}}
      </callout>
      <p>
        Terveisin,<br />
        Helsingin kaupungin venepaikkavaraukset
      </p>
    </columns>
  </row>
  {{> berth-reservations-footer}}
</container>
