---
layout: berth-reservations
subject: Vinteruppläggningsplatser ansökan bekräftelse
created_at: 12.5.2019 15.15
lang: sv
---

<container>
  {{> berth-reservations-header}}
  <row>
    <columns small="12">
      <h4>Hej {{ application.first_name }}!</h4>

      <p>Tack, din ansökan har mottagits.</p>

      <p>
        Om du vill ändra eller annullera din ansökan eller undrar om något som
        gäller ansökan, skicka e-post till
        <span class="no-hyphens"><a href="mailto:venepaikkavaraukset@hel.fi">venepaikkavaraukset@hel.fi</a></span>.
      </p>

      <callout>
        <spacer size="12"></spacer>
        <b>Tid</b>
        {{ created_at }}<br />
        <b>Sökande</b>
        {{ application.first_name }} {{ application.last_name }}<br />
        {{!--{% if application.company_name %}--}}
        <b>Företag</b>
        {{ application.company_name }} ({{ application.business_id }})<br />
        {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Valda platser</h5>
        <table>
          <tbody>
            {{!--{% for choice in area_choices %}--}}
            <tr>
              <td width="32px"><b>{{ choice.priority }}</b></td>
              <td>{{ choice.winter_storage_area.name }}</td>
            </tr>
            {{!--{% endfor %}--}}
          </tbody>
        </table>
        {{!--{% if application.application_code %}--}}
        <p><b>Sökkod:</b> {{application.application_code}}</p>
        {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Uppgifter om båt</h5>
        {{!--{% if application.boat_registration_number %}--}}
        <row class="collapse">
          <columns large="4"><b>Registernummer</b></columns>
          <columns large="8"
            >{{ application.boat_registration_number }}</columns
          >
        </row>
        {{!--{% endif %}--}} {{!--{% if application.boat_name %}--}}
        <row class="collapse">
          <columns large="2"><b>Namn</b></columns>
          <columns large="4">{{ application.boat_name }}</columns>
          <columns large="2"><b>Modell</b></columns>
          <columns large="4">{{ application.boat_model }}</columns>
        </row>
        {{!--{% endif %}--}}
        <row class="collapse">
          <columns large="2" small="6"><b>Längd</b></columns>
          <columns large="4" small="6">{{ application.boat_length }} m</columns>
          <columns large="2" small="6"><b>Bredd</b></columns>
          <columns large="4" small="6">{{ application.boat_width }} m</columns>
        </row>
        <spacer size="24"></spacer>
        <table class="hr">
          <tbody>
            <th></th>
          </tbody>
        </table>
        <spacer size="12"></spacer>
        <h5>Uppläggningssätt</h5>
        {{ field 'application.get_storage_method_display()' }}
        {{!--{% if application.trailer_registration_number %}--}}
        <row class="collapse">
          <columns large="4"><b>Trailer registernummer</b></columns>
          <columns large="8"
            >{{ application.trailer_registration_number }}</columns
          >
        </row>
        {{!--{% endif %}--}}
      </callout>
      <p>
        Vänliga hälsningar,<br />
        Helsingfors stads båtplatsbokningar
      </p>
    </columns>
  </row>
  {{> berth-reservations-footer}}
</container>
