/* Colors */
$color-brick: #bd2719;
$color-brick-light-20: #f1d3d1;
$color-brick-light-50: #de938c;
$color-brick-dark-50: #99160a;
$color-bus: #0000bf;
$color-bus-light-5: #f2f2fc;
$color-bus-light-20: #ccccf2;
$color-bus-light-50: #7f7fdf;
$color-bus-dark-50: #000098;
$color-coat-of-arms-blue: #0072c6;
$color-coat-of-arms-blue-light-5: #f2f8fc;
$color-coat-of-arms-blue-light-20: #cce2f3;
$color-coat-of-arms-blue-light-50: #80b8e2;
$color-coat-of-arms-blue-dark-50: #005b9e;
$color-coat-of-arms-gold: #c2a251;
$color-coat-of-arms-gold-light-20: #f2ecdc;
$color-coat-of-arms-gold-light-50: #e0d0a8;
$color-coat-of-arms-gold-dark-50: #977b34;
$color-coat-of-arms-silver: #dedfe1;
$color-copper: #00d7a7;
$color-copper-light-20: #ccf7ed;
$color-copper-light-50: #80ebd3;
$color-copper-dark-50: #01b78e;
$color-engel: #ffe977;
$color-engel-light-20: #fffae3;
$color-engel-light-50: #fff4bb;
$color-engel-dark-50: #f5da4e;
$color-fog: #9fc9eb;
$color-fog-light-20: #ebf4fb;
$color-fog-light-50: #cfe4f5;
$color-fog-dark-50: #78a4c7;
$color-metro: #fd4f00;
$color-metro-light-20: #fedbcc;
$color-metro-light-50: #fea780;
$color-metro-dark-50: #ca3f00;
$color-summer: #ffc61e;
$color-summer-light-20: #fff3d2;
$color-summer-light-50: #ffe28e;
$color-summer-dark-50: #e2ab0a;
$color-suomenlinna: #f5a3c7;
$color-suomenlinna-light-20: #fdecf3;
$color-suomenlinna-light-50: #fad1e3;
$color-suomenlinna-dark-50: #de7ba6;
$color-tram: #009246;
$color-tram-light-20: #cce9da;
$color-tram-light-50: #80c8a2;
$color-tram-dark-50: #007438;
$color-black: #000;
$color-white: #fff;
$color-black-5: #f1f1f1;
$color-black-10: #e5e5e5;
$color-black-20: #ccc;
$color-black-30: #b2b2b2;
$color-black-40: #999898;
$color-black-50: grey;
$color-black-60: #666;
$color-black-70: #4c4c4c;
$color-black-80: #333;
$color-black-90: #1a1a1a;
$color-error: #b01038;
$color-error-light: #f6e2e6;
$color-error-dark: #8d0d2d;
$color-success: #007a64;
$color-success-light: #e2f5f3;
$color-success-dark: #006250;
$color-alert: #ffda07;
$color-alert-light: #fff4b4;
$color-alert-dark: #986700;
$color-info: #007293;
$color-info-light: #dcf1f5;
$color-info-dark: #005b76;

/* Units */
$rem: 16px;

/* Typography */
$fontsize-h-1: 3.25 * $rem;
$fontsize-h-2: 2.25 * $rem;
$fontsize-h-3: 1.5 * $rem;
$fontsize-h-4: 1.25 * $rem;
$fontsize-h-5: 1.125 * $rem;
$fontsize-subtitle: 1 * $rem;
$fontsize-body-default: 1 * $rem;
$fontsize-body-small: 0.875 * $rem;
$fontsize-body-medium: 1.125 * $rem;
$fontsize-body-large: 1.25 * $rem;
$font-default: HelsinkiGrotesk;
$lineheight-s: 1;
$lineheight-m: 1.2;
$lineheight-l: 1.5;
$lineheight-xl: 1.75;

/* Spacing */
$spacing-layout-2-xs: 1 * $rem;
$spacing-layout-xs: 1.5 * $rem;
$spacing-layout-s: 2 * $rem;
$spacing-layout-m: 3 * $rem;
$spacing-layout-l: 4 * $rem;
$spacing-layout-xl: 6 * $rem;
$spacing-layout-2-xl: 8 * $rem;
$spacing-4-xs: 0.125 * $rem;
$spacing-3-xs: 0.25 * $rem;
$spacing-2-xs: 0.5 * $rem;
$spacing-xs: 0.75 * $rem;
$spacing-s: 1 * $rem;
$spacing-m: 1.5 * $rem;
$spacing-l: 2 * $rem;
$spacing-xl: 2.5 * $rem;
$spacing-2-xl: 3.0 * $rem;
$spacing-3-xl: 3.5 * $rem;
$spacing-4-xl: 4 * $rem;
$spacing-5-xl: 4.5 * $rem;
